@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBMPlexSans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('/fonts/Merriweather.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'ClashDisplay';
    src: url('/fonts/ClashDisplay.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}


/* Fallback fonts for debugging */
* {
    font-family: 'IBM Plex Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif !important;
    line-height: 120% !important;
}
